$h-arrow: 50px;

.answer {
	font-size: 14px;
	@include padding($base-spacing*2);
	background-color: $c-bckg-darker;
	&__wrapper {
		@include will-change(opacity, visibility);
		@extend %anim-base;
		text-align: center;
		max-width: 90%;
		flex: 0 0 90%;
		display: inline-block;
		transition-duration: $tr-duration * 1.5;
		@include padding($base-spacing*3 $base-spacing*4);
		@include position(relative);
		background-color: $c-light;
	}
	&__close {
		@include position(absolute, $base-spacing $base-spacing null null);
		@include size($base-spacing*2);
		cursor: pointer;
		&:before, &:after {
			content: '';
			background-color: $c-border;
			@include position(absolute, 50% 0 null 0);
			@include size(100% 2px);
			margin-top: -1px;
			display: block;
			@include will-change(transform);
			@extend %anim-base;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:hover {
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}
	}
	&__header {
		color: $c-content;
		@include margin(null null ($base-spacing*2) null);
	}
	&__category {
		display: inline-block;
		font-weight: normal;
		font-size: 14px;
		@include margin(null null ($base-spacing*0.5) null);
		&-number {
			display: inline-block;
			font-weight: normal;
			font-size: 14px;
		}
		&-question {
			color: $c-content;
			font-size: 20px;
			@include margin(($base-spacing * 0.33) null 0 null);
		}
	}
	ul {
		padding-left: 0;
	}
	li {
		margin-bottom: $base-spacing;
	}
	&s {
		hr {
			@include margin($base-spacing*1.5 null);
			display: block;
			border-color: $c-border;
			background-color: $c-border;
		}
	}
	p {
		margin-bottom: $base-spacing;
	}
}

