$h-arrow: 50px;

.answer {
	font-size: 14px;
	@include padding($base-spacing*2);
	background-color: $c-bckg-darker;
	text-align: left;

	&__header {
		color: $c-content;
		@include margin(null null ($base-spacing*2) null);
	}
	&__category {
		display: inline-block;
		font-weight: normal;
		font-size: 14px;
		@include margin(null null ($base-spacing*0.5) null);
		&-number {
			display: inline-block;
			font-weight: normal;
			font-size: 14px;
		}
		&-question {
			color: $c-content;
			font-size: 20px;
			@include margin(($base-spacing * 0.33) null 0 null);
		}
	}
	ul {
		padding-left: 0;
	}
	li {
		margin-bottom: $base-spacing;
	}
	&s {
		hr {
			@include margin($base-spacing*1.5 null);
			display: block;
			border-color: $c-border;
			background-color: $c-border;
		}
	}
	p {
		margin-bottom: $base-spacing;
	}
}

