.modal {
	@include position(fixed, 0 0 0 0);
	@include size(100% auto);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparentize($c-content, 0.2);
	@include padding($base-spacing*2);
	z-index: 3;
	user-select: none;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	@include will-change(opacity, visibility);
	@extend %anim-base;
	&.modal-ua {
		.modal {
			&__wrapper {
				@include padding($base-spacing*3 $base-spacing*6);
			}
		}
	}

	&__wrapper {
		@include will-change(opacity, visibility);
		@extend %anim-base;
		text-align: center;
		flex: 0 0 90%;
		display: inline-block;
		transition-duration: $tr-duration * 1.5;
		@include padding($base-spacing*3 $base-spacing*4);
		@include position(relative);
		background-color: $c-light;
		max-width: 960px;
	}
	&__close {
		@include position(absolute, $base-spacing $base-spacing null null);
		@include size($base-spacing*2);
		cursor: pointer;
		&:before, &:after {
			content: '';
			background-color: $c-border;
			@include position(absolute, 50% 0 null 0);
			@include size(100% 2px);
			margin-top: -1px;
			display: block;
			@include will-change(transform);
			@extend %anim-base;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:hover {
			&:before {
				transform: rotate(-45deg);
			}
			&:after {
				transform: rotate(45deg);
			}
		}
	}
	&.active {
		user-select: initial;
		pointer-events: auto;
		opacity: 1;
		visibility: visible;
		overflow: auto;
	}
	@media (max-width: $screen-mobile-max) {
		&__wrapper {
			@include padding($base-spacing*2);
		}
		&.modal-ua {
			.modal {
				&__wrapper {
					@include padding($base-spacing*3);
				}
			}
		}
	}
	@media (max-height: $screen-mobile-max), (max-width: $screen-mobile-max) {
		align-items: flex-start;
		&__wrapper {
			@include margin(10vh null);
		}
	}
	@media (max-width: $screen-mobile-min) {
		&.modal-ua {
			.modal {
				&__wrapper {
					@include padding($base-spacing*2);
				}
			}
		}
	}
}