$sz-question-arrow: $sz-arrow;
.question {
	&s {
		@include padding(($base-spacing*5));
	}
	&__item {
		@include margin(null null $base-spacing null);
		font-size: 14px;
		line-height: 1.5;
		a {
			color: $c-content;
			text-decoration: none;
			@include will-change(color);
			@extend %anim-base;
		}
	}
	&__list {
		@include padding(0 null $base-spacing null);
	}
	&__wrapper {
		display: inline-block;
		position: relative;
		cursor: pointer;
		color: $c-content;
		@include will-change(color);
		@extend %anim-base;
		&:after {
			content: '';
			@include position(absolute, null 0 0 0);
			width: 100%;
			@include will-change(width, color);
			@extend %anim-base;
			height: 1px;
			background-color: $c-content;
			@include margin(null auto);
		}
		&:hover {
			color: $c-content-active;
			&:after {
				width: 0;
				background-color: $c-content-active;
			}
			a {
				color: $c-content-active;
			}
		}
	}
	&__number {
		display: inline-block;
		width: 40px;
	}
}