.ua {
	@include padding(($base-spacing * 1.5) $base-spacing);
	border-top: 2px solid $c-ua-red;
	border-bottom: 2px solid $c-ua-red;
	line-height: 1.4;
	&__title {
		@include margin(null null ($base-spacing*2) null);
		font-size: 20px;
	}
	&__footer {
		display: flex;
		justify-content: center;
		align-items: center;
		@include padding($base-spacing*2 null 0);

		.btn {
			&:first-of-type {
				@include margin(null ($base-spacing*2) null null);
			}
			&:last-of-type {
				@include margin(null null null ($base-spacing*2));
			}
		}
	}
	@media (max-width: $screen-mobile-max) {
		@include padding($base-spacing*2 $base-spacing);
	}
	@media (max-width: $screen-mobile-min) {
		@include padding($base-spacing);

		&__title {
			@include margin(null null ($base-spacing) null);
		}

		&__footer {
			.btn {
				&:first-of-type {
					@include margin(null ($base-spacing) null null);
				}
				&:last-of-type {
					@include margin(null null null ($base-spacing));
				}
			}
		}
	}
}