.mapp {
	.container {
		max-width: 960px;
		overflow: hidden;
		background-color: $c-app-background;
		height: 100%;
	}
	&__wrapper {
		position: relative;
	}
}

* {
	box-sizing: border-box;
}

body {
	font-family: Tahoma, sans-serif;
}