$base-spacing:                  12px;
$duration:                      300ms;

$bd-radius:                     5px;
$tr-duration:                   $duration;
$tr-letters:                    3px;
$pd-content:                    $base-spacing;
$sz-arrow:                      10px;

$h-accordion:                   50px;

$c-light:                       #ffffff;
$c-border:                      #9c9c9c;
$c-content:                     #434343;
$c-content-active:              #60aeff;
$c-bckg-darker:                 #f6f6f6;

$c-ua-red:                      #be495d;
$c-ua-orange:                   #ec6941;
$c-ua-grey:                     #ededed;
