$base-spacing:                  10px;
$duration:                      300ms;

$bd-radius:                     5px;
$tr-duration:                   $duration;
$tr-letters:                    3px;
$pd-content:                    $base-spacing;
$sz-arrow:                      10px;

$h-accordion:                   50px;

$c-app-header:                  #2f3665;
$c-app-background:              #f3f3f3;
$c-light:                       #ffffff;
$c-border:                      #d8d8d8;
$c-accordion-title:             #8c8c8d;
$c-question-title:              #1f1f1f;
$c-question-arrow:              #9c9c9c;

$c-answer-category-title:       #a4a4a4;
$c-answer-question-title:       #000000;
$c-answer-content:              #4b4b4b;

$c-border-active:               #60aeff;
$c-bckg-active:                 #eff6ff;
$c-accordion-title-active:      #4a4a4a;