$base-spacing:                  12px;
$duration:                      300ms;

$bd-radius:                     5px;
$tr-duration:                   $duration;
$tr-letters:                    3px;
$pd-content:                    $base-spacing;
$sz-arrow:                      10px;

$h-accordion:                   50px;

$c-light:                       #ffffff;
$c-border:                      #d8d8d8;
$c-content:                     #434343;
$c-content-active:              #60aeff;
$c-bckg-darker:                 #f3f3f3;
