doctype html
html(lang="en")

	include includes/head

	body.mapp
		.container
			header#app__header.app__header
				#app__arrow.app__arrow
					.app__arrow-icon
			article#mapp__wrapper.mapp__wrapper
				include includes/accordion